[Unit]
Description=LXQt PolicyKit authentication agent
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/libexec/lxqt-policykit-agent
Restart=on-failure
