[Unit]
Description=Idle and lock management for niri
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w timeout 600 "pgrep -x gtklock >/dev/null || %h/.local/bin/lock-screen" timeout 601 "niri msg action power-off-monitors" before-sleep "pgrep -x gtklock >/dev/null || %h/.local/bin/lock-screen" lock "pgrep -x gtklock >/dev/null || %h/.local/bin/lock-screen"
Restart=on-failure
